<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary float-right">Add Account</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title ">Account List</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <th>
                                        Account Name
                                    </th>
                                    <th>
                                        4 Digit Account Number
                                    </th>
                                    <th>
                                        Account Type
                                    </th>
                                    <th>
                                        Account Balance
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            RCBC
                                        </td>
                                        <td>
                                            2511
                                        </td>
                                        <td>
                                            Savings
                                        </td>
                                        <td>
                                            $36,738
                                        </td>
                                        <td>
                                            Action here
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>